asgiref==3.10.0
colorama==0.4.6
Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
mysqlclient==2.2.4
Pillow==10.2.0
reportlab==4.0.9
python-dotenv==1.0.0
django-filter==23.5
django-storages==1.14.4
boto3==1.35.76
minio==7.2.7
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
pytest-django==4.11.1
sqlparse==0.5.3
tzdata==2025.2
xhtml2pdf==0.2.16
PyPDF2==3.0.1
